<:Title>
  Home

<:Body>
  <h1>Ragel Pens</h1>

  <table class="table">
    {{ _pens.each_with_index do |pen, index| }}
    <tr
       e-click="select_pen(index)"
       class="{{ if current_index == index }}selected{{ end }}"
       >
      <td>{{ pen._name }}</td>
      <td><button e-click="remove_pen(pen, index)">X</button></td>
    </tr>
    {{ end }}
  </table>
  
  <button e-click="add_pen">Add Pen</button>
  <button e-click="update_pen(page._ragel_input)">Run Pen</button>

  <input id="autoupdate" type="checkbox" e-change="change_pen(page._ragel_input)" checked="{{ page._autoupdate }}" />
  <label for="autoupdate">autoupdate</label>

  <input id="enhance" type="checkbox" e-change="change_pen(page._ragel_input)" checked="{{ page._enhance }}" />
  <label for="enhance">enhance</label>

  {{ if current_pen }}
  <h1><:editable_text value="{{ current_pen._name}}" /></h1>
  
  <textarea e-input="change_pen(page._ragel_input)">{{ page._ragel_input }}</textarea>

  {{ dirty }}
  {{ page._enhance }}  
  {{ raw current_pen._svg_content }}

  <hr>
  
  <pre style="color: red">{{ current_pen._error }}</pre>

  <:code_highlight>
    <pre>{{ current_pen._ragel_content }}</pre>
  </:code_highlight>

  <:code_highlight language="ruby">
    <pre>{{ current_pen._ruby_content }}</pre>
  </:code_highlight>
  
  <:code_highlight>    
    <pre>{{ current_pen._dot_content }}</pre>
  </:code_highlight>    

  <:code_highlight language="xml">
    <pre>{{ current_pen._svg_content }}</pre>
  </:code_highlight>

  {{ end }}

